*{
    color: #FFFFFF;
}

QPalette {
    background-color: #313335;
}

QWidget{
    background-color: #313335;
}

QLabel{
	background-color: transparent;
}

QLineEdit {
	border-radius:6px;
	min-height:38px;
	border: 2px solid #818181;
}

QLineEdit:focus {
	border: 2px solid #365d9c;
}


QPushButton{
	border-radius:6px;
	border: 2px solid #818181;
	min-width:114px;
	min-height:38px;
}

/*鼠标移动至QPushButton*/
QPushButton:hover {
	color: #313335;
	border: 2px solid #365d9c;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #e7effd, stop: 1 #cbdaf1);
}


/*QPushButton获得焦点*/
QPushButton:focus{
	color: #FFFFFF;
	border: 2px solid #365d9c;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #6b9be8, stop: 1 #577fbf);
}

/*鼠标在QPushButton上按下,必须定义在focus之后*/
QPushButton:pressed {
	color: #FFFFFF;
	border: 2px solid #365d9c;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #4e81c1, stop: 1 #365d9c);
}


/*QPushButton禁用*/
QPushButton:!enabled {
	color: #818181;
	background: #313335;
}